.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #223255;
  height: 100vh;
  color: #fff;
  @media screen and (max-width: 786px) {
    padding: 5rem 0;
  }
  //overflow: hidden;
}
body {
  overflow-x: hidden;
  background-color: #223255;
  counter-reset: element;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3,
p {
  color: #1c1c1c;
  margin: 0;
  line-height: 2;
}
a {
  text-decoration: none;
}
span {
  font-size: 0.75rem;
  color: white;
  text-shadow: 0.5px 1px 4px #1c1c1c9a;
}

h1 {
  //padding: 2.5rem;
  text-align: left;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem 0;
}

.Grid-width-wide {
  max-width: 1920px;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
  p {
    color: #fff;
  }
}

.filter {
  //position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
  background-color: #223255;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
  padding: 0.75rem 0;
  p {
    color: #fff;
  }
}

.element {
  transition: transform 500ms ease;
  height: 80px;
  //clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: grid;
  place-items: center;
}

.data-table {
  width: 100%;
  transition: all 250ms;
}
#gallery {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 5rem 4rem;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.data-table.resize {
  transition: all 250ms ease-in-out;
  @media screen and(max-width: 900px) {
    width: 58%;
  }
  @media screen and(min-width: 900px) {
    width: 68%;
  }
  @media screen and(max-width: 599px) {
    width: 100%;
  }
}

.tile {
  width: 150px;
  height: 150px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 8px #1c1c1c7c;
  @media screen and (min-width: 768px) {
    width: 160px;
    height: 160px;
  }
  @media screen and (min-width: 1024px) {
    width: 150px;
    height: 150px;
  }
  &::before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 5px;
    left: 6px;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #1e1e1e;
  }
}

.nonmetal {
  background-color: rgb(108, 129, 174);
  order: 1;
}
.alkali-metal {
  background-color: #5f9595;
  order: 2;
}
.transition-metal {
  background-color: #76bc80;
  order: 3;
}
.metalloid {
  background-color: #a0bc76; //rgb(227, 210, 75)
  order: 4;
}
.halogen {
  background-color: rgb(227, 210, 75);
  order: 5;
}
.noble-gas {
  background-color: rgb(194, 122, 64); //rgb(180, 140, 88);
  order: 6;
}
.alkaline-earth-metal {
  background-color: rgb(179, 89, 89); //rgb(194, 122, 64);
  order: 7;
}
.metal {
  background-color: rgb(179, 89, 120);
  order: 8;
}
.lanthanoid {
  background-color: rgb(191, 136, 146);
  order: 9;
}
.actinoid {
  background-color: #97847e;
  order: 10;
}
.post-transition-metal {
  background-color: #a5bcb5;
  order: 11;
}

.PeriodicTable {
  .symbol {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1c1c1c;
  }
  .name {
    font-size: 0.8rem;
    color: #1c1c1c;
  }
}

.tile:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

/*ELEMENT*/
.Element {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: auto;
  //background-color: #223255e8;
  z-index: 999;
  padding: 2rem;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transform: translateX(1000%);
  transition: all 300ms ease-in-out;
  animation: show 600ms ease-out forwards;
  @media screen and (min-width: 1024px) {
    width: 30vw;
  }
  @media screen and(max-width: 900px) {
    width: 30vw;
    padding: 1rem;
  }
  @media screen and(max-width: 599px) {
    width: auto;
    left: 0;
  }
  h1 {
    display: block;
    text-shadow: 0.5px 1px 4px #1c1c1c9a;
  }
  .navig-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      padding: 0.75rem;
      margin-right: 1%;
      margin-bottom: 2.5%;
      color: #223255;
      background-color: #fff;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: #223255;
        color: #fff;
      }
    }
  }
  svg {
    max-width: 35px;
  }
  .element-content {
    display: flex;
    flex-flow: row wrap;
    gap: 0 1rem;
  }
  img {
    display: block;
    padding: 0.5rem 0;
  }
  .real-image {
    max-width: 250px;
  }
}
.Element.hide-element {
  animation: hide 400ms ease-out forwards;
}
.back-btn {
  cursor: pointer;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(1000px);
  }
}
