.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #223255;
  height: 100vh;
  //overflow: hidden;
}
body {
  overflow-x: hidden;
  background-color: #223255;
  counter-reset: element;
}

h1,
h2,
h3,
p {
  color: #fff;
}

h1 {
  //padding: 2.5rem;
  text-align: center;
  margin: 0;
  display: grid;
  place-items: center;
}

.filter {
  position: fixed;
  top: 20vh;
  right: 0;
  z-index: 999;
  background-color: green;
  padding: 0.5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 2px;
}

.element {
  transition: transform 500ms ease;
  height: 80px;
  //clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: grid;
  place-items: center;
}

#gallery {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 5rem 4rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.tile {
  width: 125px;
  height: 125px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 180px;
    height: 180px;
  }
  @media screen and (min-width: 1024px) {
    width: 150px;
    height: 150px;
  }
  &::before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 5px;
    left: 6px;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #fff;
  }
}

.nonmetal {
  background-color: #5f9595;
  order: 1;
}
.alkali-metal {
  background-color: #f0bc68;
  order: 2;
}
.transition-metal {
  background-color: #a5bcb5;
  order: 3;
}
.metalloid {
  background-color: #bd8975;
  order: 4;
}
.halogen {
  background-color: #87d591;
  order: 5;
}
.noble-gas {
  background-color: rgb(219, 205, 98);
  order: 6;
}
.alkaline-earth-metal {
  background-color: rgb(136, 123, 210);
  order: 7;
}
.metal {
  background-color: rgb(185, 118, 140);
  order: 8;
}
.lanthanoid {
  background-color: rgb(162, 67, 67);
  order: 9;
}
.actinoid {
  background-color: rgb(91, 113, 160);
  order: 10;
}
.post-transition-metal {
  background-color: tan;
  order: 11;
}

.PeriodicTable {
  .symbol {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1c1c1c;
  }
  .name {
    font-size: 0.8rem;
    color: #1c1c1c;
  }
}

.tile:hover {
  transform: scale(0.98);
  opacity: 0.9;
}
